@font-face {
	font-family: 'yekan';
	src: url('font/byekan.eot');
	src: url('font/byekan.eot?#iefix') format('embedded-opentype'),
		 url('font/byekan.woff') format('woff'),
		 url('font/byekan.ttf') format('truetype'),
		 url('font/byekan.svg#yekan') format('svg');
	font-style: normal;
	font-weight: normal;
}
h1{font-family:yekan;
background-color: rgb(228, 228, 228);
border-radius:4px;

}
p{font-family:yekan;
background-color: rgb(145, 167, 223);
border-radius:4px;
font-size:19px;
margin: 15px;;
}

h2{font-family:yekan;
font-size:30px;
background-color:rgb(130, 179, 195);
border-radius:16px;
margin-left:900px;


}

h3{font-family:yekan;
	font-size:25px;

}
a{font-family:yekan;
	font-size:30px;

}
body{background-color:rgb(241, 237, 237);


}
img{border-radius:17px;


}
h4{font-family:yekan;

	font-size:30px;
}



